<div class="help-page">
    <h1>Aide et instructions:</h1>
    
    <p>Bienvenue dans notre application MyOriental. Cette page est destinée à vous fournir des instructions sur l'utilisation de l'application.</p>
    
    <h2>Comment utiliser l'application ?</h2>
    
    <h3>pour utliser le service GPS</h3>
    <ul> ce services permet de:
        <li>
           Vous donner votre position actuel
        
        </li>
        <li>
            Vous localiser dans le maps 
        </li>
        <li> 
            Caluler la route et distance
        </li>
        <li> 
            Visiter autre sevices inclu comme:
            <ul>
                <li>
                    Carte Marine <a href="https://map.openseamap.org/">OpenSeaMap</a>
                </li>
                <li>
                    la méteo <a href="https://www.windy.com/fr/-Radar-m%C3%A9t%C3%A9o-radar"> Méteo Maritine</a>
                </li>
                <li>
                   Les Loi maritimes à respecter <a href="https://www.un.org/depts/los/convention_agreements/texts/unclos/unclos_f.pdf"> Loi Maritine</a>
                </li>
                <li>
                   Les Premier secours <a href="#"> Premiers secours</a>
                </li>
                <li> Profiter aussi de ces  <a href="#">Les voyages Pres</a></li>
            </ul>
        </li>
    </ul>
    
    <h3>Localiser sur la carte :</h3>
    <ul>
       <li>
        Une fois que vous avez ajouté les waypoints
       </li>
       <li>
        Vous deviez saisir les laltitudes et longitudes puis 
       </li>
       <li>
        Vous pouvez les localiser sur la carte en cliquant sur le bouton "Localiser sur la carte".
       </li>
       <li> 
        Cela affichera les waypoints  saisie sur la carte Google Maps.
       </li>
       <li>
        Vous pourier aussi telecherger le PDF qui contient les services suivants :
       </li>
       <ul>
        <li>
            Les laltitudes et longitudes saisie
        </li>
        <li>
            Les routes maritines
        </li>
        <li>
            Les distances maritines
        </li>
       </ul>
    </ul>
    
    <h3>Utiliser la géolocalisation :</h3>    
    <ul>
        <li>
            Vous pouvez également utiliser la géolocalisation de votre navigateur pour ajouter votre position actuelle 
           
        </li>
        <li> Cliquez sur le bouton "Ma Position" pour Vous afficher votre position en laltitude et en longitude .</li>
    </ul>
    
    <h3>La Carte Marine</h3>
    <ul>
        <li> on cliquant sur ce lien <a href="https://map.openseamap.org/">ici</a> vous seriez deriger à la carte marine qui offrent divers service :</li>
        <ul>
            <li> la marine trafic </li>
            <li> les profendeurs</li>
            <li> la méteo maritine </li>
            <li> marque nautique</li>
            <li> etc...</li>
        </ul>
    </ul>
    <h3> La méteo Maritine
    </h3>
    <ul> En cliquant sur ce lien <a href="https://www.windy.com/fr/-Radar-m%C3%A9t%C3%A9o-radar">ici</a>
    </ul>
    <h3> Les Loi maritines 
    </h3>
    <ul> 
        <li> Pour le maroc veuillez clicker  <a href="file:///C:/Users/farah/Downloads/CodedeCommerceMaritime.pdf">ici</a>
        </li>
        <li>
            Pour  cliquer ici <a href="https://www.un.org/depts/los/convention_agreements/texts/unclos/unclos_f.pdf">ici</a>

        </li>
    </ul>
    <h3>
        Les premiers secours 
    </h3>
    <ul>
        <li>cliquer<a href=""> ici</a>pour voir </li>
    </ul>
    <h3>autre lien utile</h3>
    <ul>
        <li>
            <a href="https://www.imo.org/">OMI:</a>
        </li>
        <li>
            <a href="https://map.openseamap.org/" >GPS MARITNE</a>
        </li>
        <li>
            <a href="https://www.noaa.gov/">NOAA</a>
        </li>
        <li>
            <a href="https://www.marinetraffic.com/en/ais/home">MarineTraffic </a>
        </li>
        <li>
            <a href="https://www.ics-shipping.org/">ICS</a>
        </li>
    </ul>
</div>
