


    <footer class="footer">
        
        <div class="containerfooter">
            <div class="row">
                <div class="footer-col">
                     <h4>Company </h4>
                     <ul>
                        <li> <a routerLink="service"  routerLinkActive="active">Our Services</a></li>
                        <li> <a routerLink="/help" routerLinkActive="active">FAQ </a></li>
                       
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Services Exterieurs</h4>
                    <ul>
                       
                       <li> <a href="https://www.windy.com/fr/-Radar-m%C3%A9t%C3%A9o-radar"> Méteo Maritime</a></li>
                       <li> <a href="https://www.un.org/depts/los/convention_agreements/texts/unclos/unclos_f.pdf">Loi Maritine </a></li>
                       <li> <a href="https://static.fnac-static.com/multimedia/editorial/pdf/9791027100842.pdf">Les Premiers Secours </a></li>
                       <li><a href="https://www.imo.org/">OMI</a></li>
                       <li><a href="https://www.noaa.gov/">NOAA</a></li>
                       <li><a href="https://www.marinetraffic.com/en/ais/home">MarineTraffic</a></li>


                    </ul>
               </div>
               <div class="footer-col">
                <h4>Nos services</h4>
                <ul>
                   <li> <a routerLink=""  routerLinkActive="active">NauticalMarine </a></li>
                   <li> <a routerLink="/quiz" routerLinkActive="active">Jeux de Quiz</a></li>
                   <li> <a routerLink="/gps" routerLinkActive="active">Gps </a></li>
                   <li> <a  routerLink="/voyage" routerLinkActive="active">Voyage Pres </a></li>
                   <li> <a routerLink="/article" routerLinkActive="active">Maritime</a></li>
                   <li> <a routerLink="/meteo" routerLinkActive="active">Notre Méteo</a></li>
                   
                </ul>
               </div>
               <div class="footer-col">
                <div class="socialmedia">
                    <h4>Follow Us</h4>
                <ul>
                   <li> <a href="https://www.facebook.com/people/MyOriental/61559481010041/?mibextid=LQQJ4d"><i class="fab fa-facebook-f" id="fb"></i>  </a></li>
                   <li> <a href="#"><i class="fab fa-twitter" id="twitter"></i> </a></li>
                   <li> <a href="https://www.instagram.com/myoriental_/"><i class="fab fa-instagram" id="instagram"></i> </a></li>
                   <li> <a href="#"><i class="fab fa-linkedin-in" id="linkedin"></i> </a></li>
                </ul>
                
                </div>
           </div>
           
            </div>
        </div>
    </footer>


