<div class="container">
  <h2>Admin Board</h2>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Date de naissance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td>{{ u.id }}</td>
        <td>{{ u.firstName }} {{ u.lastName }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.date_naissance | date:'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </table>

</div>
<button class=" classPo" (click)="getAllUsers()">Je suis Admin</button>
