<div class="container">

        <section class="services">
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                    <div class="title" ><a routerLink="/gps" routerLinkActive="active">GPS</a></div>
                    <p>Vous pouvez marquer sur la carte  votre position et les waypoint et béneficiez d'autre information </p>
                   
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa-solid fa-location-crosshairs"></i></div>
                    <div class="title"><a routerLink="/quiz" routerLinkActive="active" >Jeux de Quiz</a></div>
                    <p>Beneficiez de notre jeux de quiz  sur le milieur maritine et defier vous pour un meilleur score </p>
                </div>
            </div>
          <div class="card">
            <div class="content">
                <div class="icon"><i class="fa fa-line-chart"></i></div>
                <div class="title"><a routerLink="/meteo" routerLinkActive="active">Notre Méteo</a></div>
                <p>Profiter de notre service Méteo qui vous donne les info méto actuel</p>
            </div>
        </div>
          <div class="card">
            <div class="content">
                <div class="icon"><i class="fa-solid fa-sailboat"></i></div>
                <div class="title"><a routerLink="/voyage" routerLinkActive="active">Voyage Pres</a></div>
                <p>Ici Vous pourier voir exemple de voyage pres deja realiser </p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="icon"><i class="fa-solid fa-location-crosshairs"></i></div>
                <div class="title"><a href="https://map.openseamap.org/" >GPS MARITNE</a></div>
                <p>cette carte marine pemert de visualiser autre sevices</p>
            </div>
        </div>
          <div class="card">
            <div class="content">
                <div class="icon"><i class="fa-solid fa-earth-europe"></i></div>
                <div class="title"><a routerLink="/article" routerLinkActive="active">Maritine</a></div>
                <p>Cliquer ici pour plus vous informer sur le milieu maritine</p>
            </div>
        </div>
        <div class="card">
          <div class="content">
              <div class="icon"><i class="fa-solid fa-book-atlas" ></i></div>
              <div class="title"><a href="https://www.un.org/depts/los/convention_agreements/texts/unclos/unclos_f.pdf">Loi Marine</a></div>
              <p>Visiter ce lien pour Obcerver toit ce qui concerne les loi dans le milieu maritines</p>
          </div>
      </div>
          
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa-solid fa-cloud-sun"></i></div>
                    <div class="title"><a href="https://www.windy.com/fr/-Radar-m%C3%A9t%C3%A9o-radar">Méteo</a></div>
                    <p>Bénefissier de ce lien pour voir la méteo marine soit grauittement ou en mode prinium</p>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa-solid fa-anchor-circle-check"></i></div>
                    <div class="title"><a href="https://www.imo.org/">OMI:</a> </div>
                    <p>est l'agence spécialisée des Nations Unies responsable de la sécurité maritime et de la prévention de la pollution par les navires.</p>
                </div>
            </div>
           
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-wordpress"></i></div>
                    <div class="title"><a href="https://www.noaa.gov/">NOAA</a></div>
                    <p> fournit des prévisions météorologiques maritimes, des données océanographiques, des cartes marines..</p>
                </div>
            </div>
            <div class="card">
              <div class="content">
                  <div class="icon"><i class="fa-solid fa-location-crosshairs"></i></div>
                  <div class="title"><a href="https://www.marinetraffic.com/en/ais/home">MarineTraffic </a></div>
                  <p>MarineTraffic fournit des informations en temps réel sur le mouvement des navires à travers le monde,</p>
              </div>
          </div>
        <div class="card">
          <div class="content">
              <div class="icon"><i class="fa-solid fa-location-crosshairs"></i></div>
              <div class="title"><a href="https://static.fnac-static.com/multimedia/editorial/pdf/9791027100842.pdf">Les Premiers secours </a></div>
              <p>Vous pour ici voir les Premiers Secours dont il est necessaire de savoir </p>
          </div>
      </div>
        </section>
    </div>